#Home-Content{
  padding-bottom: 40px;
  background: #FEFAE0;
  min-height: calc(100vh - 290px);
}

#Home-Content section:nth-child(even) {
  background: #e6e0bc;
}

#Home-Content section {
  /* margin: 10px auto; */
  padding: 20px;
  line-height: 2.5rem;
}
#Home-Content section h2 {
  margin-bottom: 20px;
}

#demo-details {
  background: #59B60D;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  width: 75%;
  font-weight: bold;
}

#Home-Content a {
  text-decoration: none;
  color: #59B60D;
  font-weight: bold;
}
#Home-Content a:hover {
  background: #B3DF15;
  color: white;
  border-radius: 5px;
}