.DataCard {
  background: #59B60D;
  margin: 10px 0 10px 10px;
  list-style-type: none;
  border-radius: 10px 0 0 10px;
}

.DataInfo {
  display: flex;
  padding: 5px;
}
.DataName {
  margin-left: 5px;
  font-size: 1.25rem;
  color: white;
}
.deleteData-button {
  margin-right: 5px;
}

.DataDescription {
  background: white;
  padding: 10px;
  border-radius: 0 0 0 10px;
}

.DataDescription p {
  text-align: left;
}