.Bestiary-Card {
  width: 90%;
  text-align: center;
  background: #FEFAE0;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
.Bestiary-Card-Header {
  background: #DDA15E;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.Bestiary-Card h5 {
  font-size: 16px;
}
.Bestiary-Card p {
  margin: 10px 0; 
}
.Bestiary-Settings {
  display: flex;
  padding: 0;
}
.Bestiary-Settings li {
  list-style-type: none;
}