.Bestiary-Card {
  width: 90%;
  text-align: center;
  background: #FEFAE0;
  border-radius: 10px;
  /* padding-bottom: 10px; */
  margin: 5px;
}
.Bestiary-Card-Header {
  background: #DDA15E;
  display: flex;
  /* padding: 10px; */
  border-radius: 10px 10px 0 0;
}
.Bestiary-Card h5 {
  margin: 10px 0 0 20px;
  font-size: 1.5rem;
  color: white;
}

.Bestiary-Data-Count {
  color: #DDA15E;
  font-size: 1.25rem;
  background: #BC6C25;
  padding: 5px 20px 5px 20px;
  margin-right: 0px;
  border-radius: 0 10px 0 0;
}
.count-text {
  font-size: 10px;
}
.Bestiary-Card p {
  margin: 10px 0; 
}
.Bestiary-Settings {
  display: flex;
  padding: 10px;
  /* background: #5BC3EB; */
  border-radius: 0 0 10px 10px;
}
.Bestiary-Settings li {
  list-style-type: none;
}