#Data-List {
  flex: 3;
  /* background: #4C3B4D; */
  width: 100%;
  /* height: calc(100vh - 20px); */
  padding-bottom: 10px;
}
#Data-List h3 {
  color: white;
}

#Data-Collections {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

@media only screen and (min-width: 768px){
  #Data-List {
    overflow: scroll;
  }
}

