#Data-List {
  flex: 3;
  background: #4C3B4D;
  width: 100%;
  padding-bottom: 40px;
}
#Data-List h3 {
  color: white;
}

#Data-Collections {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

