#NavBar {
  background: #59b60d;
  /* padding: 0 10px; */
  
  width: 100%;
  height: 50px;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0px 2px 10px;
}

#NavBar div {
  display: inline;
  align-self: center;
  justify-items: flex-end;
}
#spacer {
  width: 100px;
  background: white;
  height: 25px;
}
#AccountNav a{
  margin: 0;
}
#PageNav a{
  margin: 0;
}