#NavBar {
  background: lightgray;
  padding: 10px;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
#NavBar button {
  background: black;
  border: none;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}
#NavBar button:hover {
  cursor: pointer;
  background: gray;
}

#Account-Access {
  margin-left: 20px;
}
#Account-Access button:nth-child(odd) {
  margin-right: 10px; 
}

#Page-Nav {
  margin-right: 20px;
}