#AddBestiary-Form {
  margin: 0 20px;
}

#bestiary-name {
  width: 85%;
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 5px 10px;
}

#bestiary-desc {
  width: 85%;
  height: 75px;
  border-radius: 10px;
  border: 2px solid lightgray;
  padding: 5px 10px;
}