#Bestiary-Data {
  flex: 1;
  padding: 10px;
}

#Bestiary-Name {
  font-size: 2rem;
  color: #4C3B4D;
}

#Bestiary-Nav {
  padding: 0;
}
#Bestiary-Nav li {
  list-style-type: none;
  margin: 10px auto 0 auto;
}