@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.heading-text {
  font-family: 'Amarante', sans-serif;
}

.App {
  height: 100%;
  margin: 0;
  background: #4C3B4D;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.btn {
  background: #BC6C25;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 5px;
}
.btn:hover {
  cursor: pointer;
  background: #DDA15E;
}
.btn:disabled {
  cursor: default;
  background: #4C3B4D;
}