@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.heading-text {
  font-family: 'Amarante', sans-serif;
}

.App {
  height: 100%;
  margin: 0;
  background-color: #092500;
  background-image: url("./imgs/cartographer.png");
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.btn {
  background: #D52941;
  color: #FEFAE0;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 5px;
}
.btn:hover {
  cursor: pointer;
  background: #A31621;
}
.btn:disabled {
  cursor: default;
  color: #E6E0BC;
  background: #020800;
}