#BestiaryTitle {
  margin: 10px auto;
  padding-top: 10px;
  font-size: 24px;
}

#Bestiary-List {
  flex: 3;
  background: #4C3B4D;
  width: 100%;
  padding-top: 5px;
  min-height: calc(100vh - 190px);
  padding-bottom: 45px;
}
#Bestiary-List h3 {
  color: white;
  font-size: 2rem;
}

#User-Collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

