#Profile-Data {
  flex: 1;
  padding: 10px;
  background: #FEFAE0;
}
#Username {
  font-size: 2rem;
  color: #4C3B4D;
}

#Avatar {
  margin: 10px auto;
  border-radius: 15px;
}

#Profile-Nav {
  padding: 0;
  display: flex;
  width: 200px;
}
#Profile-Nav li {
  list-style-type: none;
  margin: 10px auto 0 auto;
}