#Profile-Data {
  flex: 1;
  padding: 10px;
}
#Username {
  font-size: 2rem;
}

#Avatar {
  margin: 10px auto;
  border-radius: 15px;
}

#Profile-Nav {
  padding: 0;
}
#Profile-Nav li {
  list-style-type: none;
  margin: 10px auto 0 auto;
}